In [1]:
import gams.transfer as gt

In [2]:
vars = ["K",
        "M",
        "X",
        "PE",
        "PR",
        "PX",
        "PEU",
        "PC",
        "EU",
        "C"]

In [3]:
path = "gams_solutions/01/"

W = gt.Container("network.gdx")

for var in vars:
    df = W[var].records
    df.to_csv(f"{path}{var}.csv",index=False)

In [25]:
W["K"].records

     r_0     level      marginal  lower  upper  scale
0  ercot  1.016011  8.547636e-10    0.0    inf    1.0
1   ferc  1.030335  2.220446e-16    0.0    inf    1.0